.top-bar {
    height: 8vh;
    width: 87%;
    margin-left: 230px;
    position: sticky;
    border-bottom: 3px solid #F8F8FA;
    background-color: #FFFFFF;
    align-items: center;
    display: grid;
    grid: auto / 1fr 10fr 1fr;
    gap: 5px;
}

.logo-div {
    height: 8vh;
    width: 12vw;
    z-index: 0;
    left: 0;
}

.app-logo {
    margin: 12px 20px;
    height: 48px;
    pointer-events: none;
    cursor: pointer;
}

.app-logo:hover {
    animation: App-logo-spin infinite 20s linear;
}
.search {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.search-bar {
    background-color: transparent;
    padding: 10px 15px;
    width: 50%;
    border: none;
    cursor: pointer;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.user-div {
    height: 8vh;
    width: 8vw;
    z-index: 0;
    left: 0;
}

.pull-right {
    float: right !important;
}

.button-sign-in {
    margin: 15px;
    cursor: pointer;
    padding: 15px 33px;
    border: none;
    background-color: #FFFFFF;
    color: #282C42;
}

.button-sign-in:hover  {
    background-color: #1CA0DB;
    color: #F0F0F7;
    font-weight: 700;
    border: 1px solid #F8F8FA;
    border-radius: 5px;
}
